@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.contact-bg {
  background-color: #f9fafb;
  min-height: 100vh;
}
